@model Inst

@{ Layout = null; }

<div><h2>Institution</h2></div>

<table>
    <tr><th>InstitutionId:</th><td>@Model.InstitutionId</td></tr>
    <tr><th>Abbreviation: </th><td>@Model.Abbreviation</td></tr>
    <tr><th>FullName:</th><td>@Model.FullName</td></tr>
    <tr><th>Country:</th><td>@Model.Country</td></tr>
</table>

